<h3>Parent-Child Interaction</h3>
<p>
  Parent name : {{ name }}
</p>
<app-inner-component-interaction  [name]="name"
                                  [mytrimname]="mytrimname"
                                  [count]="count"
                                  (customEvent)="getMeChangedName($event)">
</app-inner-component-interaction>

<hr/>

<h3>Intercept input property changes with <i><b>ngOnChanges()</b></i></h3>
<p>Click this button to log to child component</p>
<button type="button" (click)="incr()" class="btn btn-info">Count++</button>

<hr/>

<h3>Parent listens for Child event</h3><small><i>Check console after 10th and 12th second.</i></small>
<hr/>

<h3>Parent interacts with child via local variable</h3>
<p>
    A parent component cannot use data binding to read child properties or invoke child methods.
    so do this <code>&lt;app-inner-component-interaction #dude&gt;</code> then do
    <code>(click)="dude.childMethod1()"</code>
</p>

<hr/>

<h3>Parent calls an @ViewChild()</h3>
<p>The local variable approach is simple and easy. But it is limited because the parent-child wiring must be done entirely within the parent template.
  The parent component itself has no access to the child. When the parent component class requires that kind of access, inject the child component into the parent as a ViewChild.
</p>

<hr/>

<button (click)="child.childMethod1()" class="btn btn-warning">Call Child Method</button>
<p>You can also access its access members, wait for 15th second.</p>

