<p *ngIf="id == 1; else elsepart">Structural Directive</p>
<ng-template #elsepart>
  <p class="heading">Attribute Directive</p>
  <div  class="some-wrapper"
        [name]="dude"
        title="YOYO"
        (callMe)="callMe()"
        appMyDirective>
    Hover & Click Me
  </div>
  <p>A Directive is a Component without a template. Directive has only two lifecycle phases, OnInit and OnDestroy.</p>
</ng-template>
