<div class="row">
  <div class="col-md-12">
    <h1 class="header">DOM Manipulations</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <button (click)="appendElement()" style="margin-top:20px;">Create and Append Element</button>

    <button (click)="insertElementBefore()" style="margin-top:20px;">Create and Prepend Element</button>
  </div>
  <div class="col-md-8">
    <p>I am Sibling!</p>
    <div #parent></div>
    
  </div>
</div>

<ul class="tags">
  <li *ngFor="let tag of tags" [innerHTML]="tag"></li>
</ul>
