<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav" style="width: 100%;">
      <li>
        <a class="navbar-brand" style="padding:10px 15px;"  href="#">
          <img src="../favicon.ico" />
        </a>
      </li>
      <li><a href="#">Angular</a></li>
      <li class="pull-right">
        <button type="button"
                style="margin-top: 8px;"
                [ngClass]="{'btn btn-red': isLoggedIn, 'btn btn-ng-blue': !isLoggedIn }"
                (click)="toggleLogIn()">
          Toggle LogIn
        </button>
      </li>
      <li>
        <a  href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false">
            Concepts<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a routerLink="routing">Routing</a></li>

          <li><a [routerLink]="routingVariable">Components</a></li>

          <li><a (click)="goToServies()">Services</a></li>

          <li><a routerLink="/directives/1">Structural Directives</a></li>
          <li><a routerLink="/directives/2">Attribute Directives <span class="glyphicon glyphicon-ok ng-done"></span></a></li>

          <li><a [routerLink]="['/qp']" [queryParams]="{repo:'1'}">Query Params</a></li>
          <li><a [routerLink]="['/qp']" fragment="dude">Fragments</a></li>
          <li><a [routerLink]="'/allowme'">Allow Me</a></li>
          <li><a [routerLink]="['/componentinteraction']">Component Interaction</a></li>

          <li><a [routerLink]="['/httpclient']">HttpClient</a></li>
          <li><a [routerLink]="['/dynamiccomponents']">Dynamic Components</a></li>
          <li><a [routerLink]="['/dommanipulations']">DOM Manipulations</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">      

      <router-outlet></router-outlet>

      <!-- <hr/>
      <app-sibling-inner></app-sibling-inner> -->
    </div>
  </div>
</div>