/* You can add global styles to this file, and also import other style files */

.header {
    color: #C3002F;
}

ul.tags {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
ul.tags:before {
    content: 'Tags';
    display: block;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul.tags > li {
    display: inline-block;
    padding: 10px;
    background: #1E88E5;
    margin: 5px;
    color: #fff;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);  
}

code, pre {
    
}

.btn {
    border-radius: 2px;
}

.btn-ng-blue {
    background: #1E88E5;
    color: #fff;
}

.btn-ng-blue:hover,
.btn-ng-blue:focus {
    color: #fff;
}

.btn-ng-red {
    background: #C3002F;
}

.ng-done {
    color: #1E88E5;
}