<h5>
  Child name : {{ name }}
</h5>

<hr/>

<h3>Intercept Input while going to child component</h3>
<h5>
    {{mytrimname}}
</h5>

<hr/>

<h3>Parent and children communicate via a service</h3>
<p>A parent component and its children share a service whose interface enables bi-directional communication within the family.</p>

